<% extend('../partials/template') %>
<% if(resetpass == '') { %>
<form id="forgot_form" class="forms" action="/glemt_kodeord" method="post">
    <!-- email -->
    <div class="form_choiche">
        <div class="form_text">
            <div class="form_title">
                <label for="user_email">Email</label>
            </div>

            <div class="form_error">
                <span id="err_email" class="error_msg">
                    <%= (typeof error_msg != 'undefined' ? error_msg.email : '') %>
                </span>
            </div>
        </div>

        <div class="form_field">
            <input type="text" name="user_email" id="user_email"
                value="<%= (typeof email_value != 'undefined' ? email_value.user_email: '') %>"
                placeholder="Indtast Email">
        </div>
    </div>

    <!-- knapper -->
    <div class="form_actions">
        <button class="btn linear_gr" type="submit">Send</button>
        <a class="link_basic" href="/logind">Tilbage</a>
    </div>
</form>

<% } else if(resetpass == 'success') { %>
    <h2>Det lykkedes!</h2>
    <p><%= message %></p>
    <a href="http://localhost:8081" target="_BLANK" class="btn linear_gr">Mailslurper</a>
<% } else if(resetpass == 'error') {  %>
    <h2>Noget gik galt...</h2>
    <p><%= match_error %></p>
    <a href="/glemt_kodeord" class="btn linear_gr">Prøv igen?</a>
<% } %>

<script>
    document.querySelector('#forgot_form button').addEventListener('click', (event) => {
        event.preventDefault();
        // ryd alle eksisterende fejleskeder 
        let error_messages = document.querySelectorAll('.error_msg');
        error_messages.forEach(function (error_msg) {
            error_msg.textContent = '';
        });

        let form = document.querySelector('#forgot_form');
        // form.submit();

        // hent alle værdierne fra formular felterne 
        let values = {};
        for (let i = 0; i < form.length; i++) {
            // '.name.split('_')[1]' benyttes til at fjerne 'user_' fra hvert et felt
            if (form[i].name.split('_')[1] != undefined) {
                values[form[i].name.split('_')[1]] = form[i].value;
            }
        }

        // Opret tomt json objekt til fejlbeskeder
        let error_msg = {};

        // Validering af værdier oprettelse af fejlbeskeds nøgler
        if (values.email == undefined || values.email == "") {
            error_msg.email = "Udfyld email (Client Side)";
        } else if (!validateEmail(values.email)) {
            error_msg.email = "ikke en gyldig email (Client Side)";
        }

        // hvis der er 1 eller flere fejl, skal der udskrives fejl eller sendes form 
        if (Object.keys(error_msg).length > 0) {
            Object.keys(error_msg).forEach(function (key) {
                // key feltet der indeholder en fejl for at finde span tagget der hvor '#err_' skal fjernes
                document.querySelector(`#err_${key}`).textContent = error_msg[key];
            });
        }
        else {
            form.submit();
        }
    })
</script>